*{
    border:0;
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
}

:root {
    --container-lg: 75%;
    --container-md: 85%;
    --container-sm: 92%;
}

section{
    margin:2rem 0;
}

.container {
    width: var(--container-lg);
    margin: 0 auto;
}

.calculator-form__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap:2rem;
    margin: 2rem 0;    
}

.calculator-form__container .col:nth-child(1) {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1rem;
}

.calculator-form__container .col:nth-child(1) select {
    border:solid 1px #c7c7c7;
    padding: .5rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.calculator-form__container fieldset {
    display: flex;
    flex-direction: column;
}

.calculator-form__container .result-box {
    display: flex;
    flex-direction: column;
    gap:.5rem;
    border:solid 1px #c7c7c7;
    margin:1rem 0
}

.calculator-form__container .result-box .result {
    font-size: 2rem;
    font-weight: 600;

}